body {
  margin: 0;
  background-color: #3d3d3d;
}

#container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

#pv {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: solid;
  /* outline-color: green; */
  grid-column: 1;
}

#sv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: solid;
  /* outline-color: red; */
  grid-column: 2;
}

#sv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: solid;
  /* outline-color: blue; */
  grid-column: 1;
}

#sv3 {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: solid;
  /* outline-color: orange; */
  grid-column: 2;
}

video {
  width: 95%;
  height: 95%;
}
